{% assign internships = site.data.data.internships %}
<style>
    img{width:100%;height:100%}
</style>
<script type="text/javascript>
    $(function(){
              $(".internship box").hover(function(){
                  $(".lr").show();
               },function(){
                  $(".lr").hide();
                  });
     $(".button li).click(function(){
        $(this).addClass("on").siblings().removeClass("on");
        var num = $(this).index;
        "(".pic").animate({marginLeft:-350*num},"slow");
      });
      var a = 0;
      var automatic = setInterval(function(){
         a++;
         a=a%2;
         $(".pic").animate({marginLeft:350*a}, "slow");
         $(".button li").eq(a).addClass("on").siblings().removeClass("on");
      },6000);
      $(".pre").click(function(){
         a--;
         a=(a+2)%2;
         $(".pic").animate({marginLeft:350*a}, "slow");
         $(".button li").eq(a).addClass("on").siblings().removeClass("on");
      });  
       $(".pre").click(function(){
         a++;
         a=a%2;
         $(".pic").animate({marginLeft:350*a}, "slow");
         $(".button li").eq(a).addClass("on").siblings().removeClass("on");
      });   
});                                                                         
</script>
<section class="section internships-section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    活动展示
  </h2>
  {% if internships %}
  {% if internships.intro %}
    <div class="intro">
        <p>{{internships.intro}}</p>
    </div>
  {% endif %}
  <div class="internship box">
      <ul class="pic">
          <li>
              <a href="https://d.qq.com/cp/a20200518mxxdl/index_qw.html?adtag=3"><img class="test" src="{{ site.baseurl }}/assets/images/{{ internships.test1 }}" alt="test picture">
          </li>
          <li>
              <a href="https://d.qq.com/cp/a20200518mxxdl/index_qw.html?adtag=3"><img class="test" src="{{ site.baseurl }}/assets/images/{{ internships.test2 }}" alt="test picture">
          </li>
      </ul>
      <ul class="button">
          <li class="on"></li>
          <li></li>
      </ul>
      <ul class="lr">
          <li class="pre"><a href="#"> < </a></li>
          <li class="next"><a href="#"> > </a></li>
      </ul>
  </div>
</section>

{% endif %}
