{% assign internships = site.data.data.internships %}
<style>
    img{width:100%;height:100%}
</style>
<section class="section internships-section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    活动展示
  </h2>
  {% if internships %}
  <div class="internship box">
    <a href="https://d.qq.com/cp/a20200518mxxdl/index_qw.html?adtag=3"><img class="test" src="{{ site.baseurl }}/assets/images/{{ internships.test }}" alt="test picture">
  </div>
</section>

{% endif %}
